PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/withdraw_engine"
REDIS_URL="redis://localhost:6379"

MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""
MPESA_TOKEN_URL="https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials"
MPESA_B2C_URL="https://sandbox.safaricom.co.ke/mpesa/b2c/v3/paymentrequest"
MPESA_INITIATOR_NAME=""
MPESA_SECURITY_CREDENTIAL=""
MPESA_SHORTCODE=""
MPESA_CALLBACK_URL=""
MPESA_CALLBACK_SECRET=""

API_KEY_SECRET=""